@model YastCleaner.Web.Utils.PaginaResult<YastCleaner.Web.ViewModels.TrabajadorViewModel>

@{
    ViewData["Title"] = "Cerrar Caja";
}

<h1>Trabajadores Hoy : @ViewBag.HoraActual</h1>
<br />
<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre @item.Apellidos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">DNI: @item.Dni</h6>
                    <p class="card-text">
                        <strong>Dirección:</strong> @item.Direccion <br />
                        <strong>Email:</strong> @item.Email <br />
                        <strong>Fecha Registro:</strong> @item.FechaRegistro.ToShortDateString()
                    </p>
                    <a asp-controller="Reporte" asp-action="Pedidos" asp-route-trabajadorId="@item.TrabajadorId" class="card-link btn btn-warning btn-sm">
                        Pedidos
                    </a>
                    <a asp-controller="Reporte" asp-action="Registrar" asp-route-trabajadorId="@item.TrabajadorId" class="card-link btn btn-primary btn-sm">
                        Cerrar Caja
                    </a>
                </div>
            </div>
        </div>
    }
</div>
