@model IEnumerable<YastCleaner.Web.ViewModels.PedidoViewModel>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código Pedido
            </th>
            <th>
                Fecha Entrega
            </th>
            <th>
                Cliente
            </th>
            <th>
                Adelanto
            </th>
            <th>
                Faltante
            </th>
            <th>
                Total
            </th>
            <th>
                Metodo de Pago
            </th>
            <th>
                Estado
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoAdelantado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoFaltante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
        </tr>
}
    </tbody>
</table>
