@model YastCleaner.Web.ViewModels.DetalleServicioViewModel

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDetalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDetalles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoGenerado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoGenerado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Modulo" class="btn btn-secondary">Regresar</a> |
    <form asp-action="Eliminar" asp-route-servicioId="@Model.ServicioId" method="post" onsubmit="return confirm('¿Está seguro?');">
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>

    <a asp-action="EditarServicio" asp-route-servicioId="@Model.ServicioId" class="btn btn-warning"> Editar</a>
</div>
