@model YastCleaner.Web.ViewModels.ServicioViewModel

@{
    ViewData["Title"] = "Seleccionar";
}

<h1>Seleccionar</h1>

<div>
    <h4>ServicioViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <form asp-controller="Servicio" asp-action="Seleccionar" method="post">
    <div>
        @Html.Hidden("servicioId", Model.ServicioId)<!--lo que esta de color naraja es el parametro que se pasa al metodo del controlador-->
        <em>Cantidad: </em> @Html.TextBox("cantidad", "1", 
        new { Type="number", 
        min = 1, max = 30})<!--aqui es el minimo y el maximo de valores que puede ingresar en el input-->
        <hr/>
        <button type="submit" class="btn btn-primary">
            Agregar Articulo

        </button>
        <a asp-controller="Pedido" asp-action="Temporal" class="btn btn-success">Ver Carrito</a> |
        <a asp-controller="Servicio" asp-action="Servicios" class="btn btn-primary">Agregar Otro Servicio</a>
    </div>
</form>
</div>
