@model YastCleaner.Web.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Detalle del Cliente";
}

<h2>Detalle del Cliente</h2>
<h3>@TempData["Error"]</h3>

<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">@Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h4>
        <p><strong>Celular:</strong> @Model.NumeroCelular</p>
        <p><strong>Dirección:</strong> @Model.Direccion</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Estado:</strong> @Model.Estado</p>
        <p><strong>Fecha Registro:</strong> @Model.FechaRegistro.ToString("dd/MM/yyyy")</p>
    </div>
</div>
<form asp-action="Desactivar" asp-controller="Cliente" asp-route-clienteId="@Model.ClienteId" method="post">
    <button type="submit" class="btn btn-danger">Desactivar Cliente</button>
</form>
<div>
    <a asp-action="Pedidos" asp-controller="Cliente" asp-route-clienteId="@Model.ClienteId" class="btn btn-warning">Pedidos</a>
</div>

